
<form action="/login" method="POST" style="border:1px solid #ccc">

  <div class="container">
    <h2>Login</h2>
    <hr>
    <label for="email"><b>Email:</b></label>
    <input type="text" placeholder="Enter Email" name="email">
    <br>
    <br>
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
    <br>
    <br>
    <button type="submit">Login</button>
  </div>
  <br>
</form>

<p> OR Log In With Facebook </p>
<div class="fb-login-button" data-size="large" data-button-type="login_with" data-auto-logout-link="true" data-use-continue-as="false"></div>
